.app-header {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    height: 15px;
    margin: 0px;
    padding: 5px;
    color: #FFF;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    background: rgb(255,122,24);
    background: linear-gradient(270deg, rgba(255,122,24,1) 0%, rgba(141,11,0,1) 89%);
}