@font-face {
    font-family: Helvetica;
    src: url(fonts/Helvetica.ttf);
}

@font-face {
    font-family: Helvetica;
    font-weight: bold;
    src: url(fonts/HelveticaBold.ttf);
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: #EDEDED;
}

body, input, button {
    font-family: Helvetica;
}

.container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
}